.shop {
    margin-top: 20px;
}


.categories-side-bar-container {
    display: flex;
    flex-direction: row;
    align-content: stretch;
    margin-bottom: 20px;
    /* height: 100%; */
}

.categories-section {
    position: relative;
    max-height: 100%;
    overflow: auto;
    background-color: aqua;
}

.subcategories-section {
    max-height: 100%;
    padding: 0px 10px;
}

