.shop {
    position: relative;
    display: inline-block;
    position: relative;
    width: 100%;
    background-color: white;
    /* padding: 10px; */
}

@media only screen and (min-width: 768px) {
    .shop {
        padding: 10px;
    }
}

@media only screen and (min-width: 900px) {
    .shop {
        padding-left: 0px;
    }
}
