.category-list, .category-list, .subcategory-list {
    width: 100%;   
}

/* .category-list, .category-list > li {
    margin: 0px;
} */

ul.subcategory-list {
    display: none;
}

.show-subcat ul.subcategory-list  {
    display: block;
}

ul.category-list, ul.subcategory-list {
    margin: 0px;
    padding: 0px;
}

li.category-list-item, li.subcategory-list-item {
    width: 100%;
    list-style-type: none;
}

li.category-list-item {
    background-color: #a3c2c2;
}