.item {
    position: relative;
    display: block;
    float: left;
    width: 100%;
    height: 230px;
    /* margin-bottom: 7px; */
    padding: 10px 5px 0px 5px;
    /* padding: 5px 20px; */
    /* border: 1px solid black; */
}

@media only screen and (min-width: 600px) {
    .item {
        width: 25%;
    }
}

@media only screen and (min-width: 800px) {
    .item {
        width: 33.33%;
    }
}

@media only screen and (min-width: 900px) {
    .item {
        width: 25%;
    }
}

@media only screen and (min-width: 1030px) {
    .item {
        width: 20%;
    }
}

@media only screen and (min-width: 1230px) {
    .item {
        width: 12.5%;
    }
}





.img-container {
    width: 100%;
    height: 55%;
    overflow: hidden;
    background-color: #ffff99;
    box-shadow: inset 0 0 10px #999900;
    cursor: pointer;
}

.img-container > img {
    max-width: 95%;
    max-height: 93%;
    margin: auto;
    /* display: block;
    width: 100%;
    height: auto;
    max-height: 100%;
    margin: 0 auto; */
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    /* transition: opacity 0.5s; */
}

.item:hover img {
    opacity: 0.8;
}

.item:hover .info-name {
    color: #29bb29;
}

.item:hover .info-price {
    opacity: 0.7;
}

.item:hover .info-rating {
    opacity: 0.7;

}

.item *:not(img) {
    transition: all 0.4s;
}

/* .item:hover .star {
    opacity: 0.7;
} */



[class*="info-"] {
    width: 100%;
    height: 25%;
    margin: 0px;
    text-align: center;
}

.info-container {
    height: 45%;
    overflow: hidden;
    background-color: #e6e600;
    border: 1px solid #4d4d00;
    box-shadow: inset 0 0 10px #999900;
}

.info-container * {
    /* border: 1px solid black; */
}

.info-wrapper {
    width: 100%;
    height: 100%;
    background-color: white;
    box-shadow: inset 0 0 10px #999900;
}

.info-name, .info-price, .info-rating, .button-container {
    width: 100%;
    height: 25%;
    margin: 0px;
}



.info-name {
    width: 100%;
    padding-top: 3px;
    font-family: 'Times New Roman', 'Times New Roman', 'Times', serif;
    color: #006600;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    /* border: 1px solid #4d4d00;
    border-bottom: none;
    background-color: white; */
}



.info-price {
    font-style: italic;
    font-weight: bold;
    /* border: 1px solid #4d4d00;
    border-bottom: none;
    border-top: none; */
    /* box-shadow: inset 0 -1 10px #999900;
    background-color: white; */
}

.info-rating {
    /* border: 1px solid #4d4d00;
    border-top: none;
    box-shadow: inset 0 -1 10px #999900;
    background-color: white; */
}

.star {
    color: yellow;
  
}

.button-container {
    /* border: 1px solid #4d4d00;
    border-top: none;
    border-bottom: none;
    box-shadow: inset 0 -1 10px #999900;
    background-color: white; */
}

.add-button {
    border-radius: 5px;
    width: 100px;
    height: 20px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    /* font-family: 'Impact', 'Charcoal', sans-serif; */
    /* font-family: "Palatino Linotype", "Book Antiqua", 'Palatino', serif; */
    line-height: 14px;
    font-size: 14px;
    /* font-style: italic; */
    background-color: #264d00;
    border: none;
    color: #ffd11a;  
    cursor: pointer;
    opacity: 0.8;
    /* transition: all 0.4s; */
}

.item:hover .add-button {
    opacity: 1;
}

.add-button:hover {
    color: #ffff66;
    /* color: #ffa31a; */
    /* border-color: #ffd699; */
    opacity: 0.9;
    box-shadow: 0 0 10px #000000;
}

