


.controls-container {
    display: block;
    float: right;

    width: 100%;
    height: 100px;
   
}

.hide-on-sm {
    display: none;
}


@media only screen and (min-width: 600px) {
    .controls-container {
        float: right;
        width: 50%;
        height: 280px;
        
    }
}



@media only screen and (min-width: 800px) {
    .controls-container {
        width: 66.67%;
        height: 50px;
    }
}

@media only screen and (min-width: 900px) {
    .controls-container {
        width: 75%;
    }
}

@media only screen and (min-width: 1030px) {
    .controls-container {
        width: 80%;
    }
}

@media only screen and (min-width: 1230px) {
    .controls-container {
        width: 75%;
    }
}

@media only screen and (min-width: 600px) {
    .hide-on-sm {
        display: block;
    }
    .sm-only {
        display: none;
    }
}